<!DOCTYPE html>
<html>
	<head>
		<title>Invoice Bucket</title>
		<link rel="stylesheet" href="stylesheets/bootstrap.min.css"/>
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">InvoiceBucket</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="/login">Bejelentkezés</a>
						</li>
						<li>
							<a href="/register">Regisztráció</a>
						</li>	
					</ul>
				</div>
			</div>
		</nav>
			
	</body>
</html>