<!DOCTYPE html>
<html>
	<head>
		<title>Invoice Bucket</title>
	</head>
	<body>
		<p>Invoice Bucket</p>
		<ul>
			<li>
				<a href = "#">Regisztráció</a>
			</li>
			<li>
				<a href = "#">Bejelentkezés</a>
			</li>
		</ul>
	</body>
</html>