<!DOCTYPE html>
<html>
	<head>
		<title>InvoiceBucket</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="/stylesheets/main.css">
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-main-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
				  	</button>
					<a class="navbar-brand" href="/">InvoiceBucket | Hatósági adatszolgáltatás egyszerűen</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-main-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="/login">Bejelentkezés</a>
						</li>
						<li>
							<a href="/register">Regisztráció</a>
						</li>	
					</ul>
				</div>
			</div>
		</nav>
		<div class="container text-center">
			<% if(error && error.length > 0){ %>
			<div class="alert alert-danger" role="alert">
				<%= error %>
			</div>	
			<% } %>
			<% if(success && success.length > 0){ %>
			<div class="alert alert-success" role="alert">
				<%= success %>
			</div>	
			<% } %>
		</div>
		<div class="container">
			<div class="jumbotron text-center">
		  		<h1>Regisztráció</h1>
				<br>
		  		<h4>A regisztráláshoz adj meg egy felhasználói azonosítót és egy megfelelően erős jelszót!
				<br>
				(Legalább 8 karakter hosszú legyen, valamint tartalmazzon kisbetűt, nagybetűt és számot egyaránt!)</h4>
			</div>
			<div class="row">
				<div style="width: 30%; margin: 25px auto;">
					<form action="/register" method="POST" id="registrationForm">
						<div class="form-group">
							<label>Felhasználónév *</label>
							<input class="form-control" type="text" name="username">
						</div>
						<div class="form-group">
							<label>Jelszó *</label>
							<input class="form-control" type="password" name="password">
						</div>
						<div class="form-group">
							<label>Jelszó megerősítése *</label>
							<input class="form-control" type="password" name="confirmPassword">
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-success">Regisztrálok</button>
							<a href="/" class="btn btn-primary" allign="right">Vissza</a>
					  	</div>
					</form>
					
				</div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'></script>
		<script type='text/javascript'>
			$('#registrationForm').bootstrapValidator({
				feedbackIcons: {
					valid: 'glyphicon glyphicon-ok',
					invalid: 'glyphicon glyphicon-remove',
					validating: 'glyphicon glyphicon-refresh'
				},
				fields: {
					username: {
						validators: {
							regexp: {
								regexp: /^[a-zA-Z0-9_]+$/,
								message: 'A felhasználónév csak az angol ábécé betűit, számot és alulvonást tartalmazhat'
                    		},
							stringLength: {
								min: 6,
								message: 'Túl rövid felhasználónév'
							},
							notEmpty: {
								message: 'Kötelező mező'
							}
						}
					},
					password: {
						validators: {
							regexp: {	
								regexp: /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,100}$/,
								message: 'Túl gyenge jelszó'
							},
							notEmpty: {
								message: 'Kötelező mező'
							}
						}
					},
					confirmPassword: {
						validators: {
							identical: {
								field: 'password',
								message: 'Nem egyezik'
							},
							notEmpty: {
								message: 'Kötelező mező'
							},
						}
					},
				}
			});
		</script>
	</body>
</html>